@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?42xr3q');
  src:url('fonts/icomoon.eot?#iefix42xr3q') format('embedded-opentype'),
    url('fonts/icomoon.woff?42xr3q') format('woff'),
    url('fonts/icomoon.ttf?42xr3q') format('truetype'),
    url('fonts/icomoon.svg?42xr3q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tree:before {
  content: "\e600";
}
